
@font-face {
    font-family: 'interval';
    src: url('fonts/interval_bold-webfont.eot');
    src: url('fonts/interval_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/interval_bold-webfont.woff') format('woff'),
         url('fonts/interval_bold-webfont.ttf') format('truetype'),
         url('fonts/interval_bold-webfont.svg#intervalbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
    width: 98%;
    height: 100%;
    color:#000;
    background: #C6C6C6;
    font-size: 12px;
    font-family: 'interval', monospace;
    margin:10px;
    overflow: hidden;
}

textarea {
    font-family: 'interval', monospace;
    font-size: 13px;
    padding: 10px;
    outline: none;
    border: none;

}

.title {
    float: right;
}